header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}
header div {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    width: 142px;
    height: 60px;
    margin-left: 20px;
}